@font-face {
  font-family: 'Titillium Web';
  font-weight: normal;
  font-style: normal;
  font-weight: 700;
  src: url('font/titillium-web-latin-ext-700-normal.woff2') format('woff2'), url('font/titillium-web-all-700-normal.woff') format('woff');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('font/titillium-web-latin-700-normal.woff2') format('woff2'), url('font/titillium-web-all-700-normal.woff') format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
@font-face {
  font-family: 'Titillium Web';
  font-weight: normal;
  font-style: normal;
  font-weight: 400;
  src: url('font/titillium-web-latin-ext-400-normal.woff2') format('woff2'), url('font/titillium-web-all-400-normal.woff') format('woff');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('font/titillium-web-latin-400-normal.woff2') format('woff2'), url('font/titillium-web-all-400-normal.woff') format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

.main-div {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    top: 250px;
}

/* Title */
.error-title {
    /*width: 376px;
    height: 32px;*/
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: center;
    color: #17324D;
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* Subtitle */
.error-subtitle {
    /*width: 376px;
    height: 24px;*/
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #17324D;
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* Button */
.button {
    font-family: 'Titillium Web';
    box-sizing: border-box;
    color: #0073E6;
    font-weight: 700;
    background-color: white;
    padding: 0px;
    width: 330px;
    height: 40px;
    border: 2px solid #0073E6;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* Icon */
.error-icon {
    width: 80px;
    height: 80px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

