<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Error</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Something went wrong! </h1>
        <h2>Our Engineers are on it</h2>

        <div th:text="${sessionId}"></div>
        <div th:text="${type}"></div>
        <div th:text="${title}"></div>
        <div th:text="${status}"></div>
        <div th:text="${detail}"></div>
        <div th:text="${timestamp}"></div>
        <div th:text="${operationId}"></div>
        <div th:text="${errorCode}"></div>


        <a href="/">Go Home</a>
    </body>
</html>