<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <logger name="it.gov.pagopa.wispconverter.util.client.apiconfigcache" level="DEBUG"/>
    <logger name="it.gov.pagopa.wispconverter.util.interceptor" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
